{{> navs/navBar home='active'}}

<div class="jumbotron bg-dark text-center">
    <img class="img-fluid" src="assets/img/bigLogo.svg">
</div>
<div class="nav-buttons text-center">
    <button class="btn btn-secondary">
        Make an account
    </button>
    <button class="btn btn-secondary">
        See Public Posts
    </button>
</div>  