<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <button class="navbar-brand btn btn-primary">Login</button>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="jumbotron bg-dark text-center">
        <img src="assets/img/logo.png">
    </div>
    <div class="nav-buttons text-center">
        <button class="btn btn-secondary">
            Make an account
        </button>
        <button class="btn btn-secondary">
            See Public Posts
        </button>
    </div>
</div>