{{> navs/navBar messages='active'}}
<div class="container">
    <div id="convos" class="col-3">

    </div>
    <div id="messageSection" class="col-9">

    </div>
</div>
<script src="assets/js/messages.js"></script>