{{> navs/navBar posts='active' }}

<div class="row text-primary text-center bg-">
    <div class="col">
        <img class="img-fluid" src="https://placehold.it/350X350" />
    </div>
    <div class="col">
        <img class="img-fluid" src="https://placehold.it/350X350" />
    </div>
    <div class="col">
        <img class="img-fluid" src="https://placehold.it/350X350" />
    </div>
    <div class="col">
        <img class="img-fluid" src="https://placehold.it/350X350" />
    </div>
</div>