{{> navs/navBar posts='active' }}

<div class="row text-primary text-center">
    
    <div class="col-lg-3 col-md-6" id="column1">
        <img class="img-fluid postPic" src="https://placehold.it/350X350" />
    </div>
    <div class="col-lg-3 col-md-6" id="column2">
        <img class="img-fluid postPic" src="https://placehold.it/350X350" />
    </div>
    <div class="col-lg-3 col-md-6" id="column3">
        <img class="img-fluid postPic" src="https://placehold.it/350X350" />
    </div>
    <div class="col-lg-3 col-md-6" id="column4">
        <img class="img-fluid postPic" src="https://placehold.it/350X350" />
    </div>
    
</div>