{{> navs/navBar }}
<div class="row justify-content-center">
    <div class="col-lg-3 col-md-6">
        {{> posts/post }}
    </div>
</div>
{{> comments/commentSection postId=1}}
{{>modals/shareModal}}