<div class="text-secondary">
    <ul class="comments rounded">
        {{#each comments}}
        <li>
            <p>{{comment}}</p>
        </li>
        {{/each}}
    </ul>
    <form>
        <div class="form-group">
            <label class="text-primary" for="postComment">Leave a comment</label>
            <textarea class="form-control" id="postComment" rows="3"></textarea>
        </div>
        <button data-id={{dataValues.id}} id="submitComment" class="btn btn-primary">
            Post
        </button>
    </form>
</div>