<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="modalPicContainer" class="text-center">
        </div>
        <form>
          {{> forms/postForm}}
          <div class="text-right form-group">
            <button type="submit" class="btn btn-primary postBtn">Make a post</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>