<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{> forms/signUpForm}}
            </div>
        </div>
    </div>
</div>