.picContainer{
    position: relative;
    margin-bottom:30px;
}
.picContainer:hover .overlay{
    opacity: 1;
}
.postPic{
    border:5px solid #FFB86C;
}
.overlay {
    position: absolute; 
    right:41px;
    left:41px;
    bottom:20px;
    margin:auto;
    color: #f1f1f1; 
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
  }
#navLogo:hover{
    fill:#8BE9FD;
}
.dropdown-menu{
    padding:5px;
}
.comments {
    background: rgba(255, 255, 255, 0.1);
}