<div class="text-center picContainer">
    <img class="img-fluid rounded postPic" data-fixed={{images.fixed_height_still.url}} src={{images.fixed_height.url}}>
    <div class="overlay">
        <button class="btn btn-secondary likeBtn">
           <i class="far fa-thumbs-up"></i> Like
        </button>
        <button class="btn btn-warning shareBtn" data-toggle="modal" data-target="#shareModal">
            <i class="fas fa-share-alt"></i> Share
        </button>
    </div>
</div>