<div class="text-center picContainer">
    <img class="img-fluid rounded postPic" src={{imgUrl}}>
    <div class="overlay">
        <button class="btn btn-secondary">
           <i class="far fa-thumbs-up"></i> Like
        </button>
        <button class="btn btn-warning">
            <i class="fas fa-share-alt"></i> Share
        </button>
    </div>
</div>