<div class="text-center picContainer">
    <img class="img-fluid rounded postPic" data-original={{images.original.url}} data-fixed-small={{images.fixed_height_small_still.url}} data-fixed={{images.fixed_height_downsampled.webp}} src={{images.fixed_height_still.url}}>
    <div class="overlay">
        <button class="btn btn-warning shareBtn" data-toggle="modal" data-target="#shareModal">
            <i class="fas fa-share-alt"></i> Share
        </button>
    </div>
</div>