<form class="form" role="form" method="post" action="signUp" accept-charset="UTF-8" id="signup-nav">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" required>
    </div>
    <div class="form-group">
        <label for="signUpEmail">Email address</label>
        <input type="email" class="form-control" id="signUpEmail" placeholder="Email address" required>
    </div>
    <div class="form-group">
        <label for="signUpPassword">Password</label>
        <input type="password" class="form-control" id="signUpPassword" placeholder="Password" required>
    </div>
    <div class="form-group">
        <button type="submit" id="signUpBtn" class="btn btn-danger btn-block"><i class="fas fa-user-plus"></i> Make an account!</button>
    </div>
</form> 