<div class="form-group">
    <label for="postTitle">Post Title</label>
    <input type="textArea" class="form-control" id="postTitle" required>
</div>
<div class="form-group">
    <label for="postComment">Comment: </label>
    <input type="textArea" class="form-control" id="postComment">
</div>